
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<A HREF = http://localhost:3000>Índice</A>
<h1><%= title %></h1>
<p> Raquel Ruiz Orozco  </p>
</body>
</html>